<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<appSettings>
		<add key ="inputExcelPath" value="C:\\test\\AIRBUS_AM_TESTING.xlsx"/>
		<add key="outputPath" value="C:\\test"/>
		<add key ="baseUrl" value="https://www.geostore2.com/nationwide_api/partial_address_match?api_key=584f47c5-e414-4ad2-96f3-314ad3f81b63&amp;postcode="/>
	</appSettings>
</configuration>